/* --PAGE CLASSES--  */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-fill {
  width: 100%;
}

.wrap-center {
  width: 90%;
}

/* styles */
.login-page-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-page-about, .login-page-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-page-about {
  display: none;
  position: relative;
  background-color: #F8F8F8;
}
@media only screen and (min-width: 700px) {
  .login-page-about, .login-page-user {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-page-about {
    display: block;
  }
  .md-wrap-fit {
    width: 40vw;
  }
}

@media only screen and (min-width: 1181px) {
  .md-wrap-fit {
    width: 500px;
  }
}